* {
  font-family: "ubuntu mono";
  box-sizing: border-box;
  font-size: 18px;
}

::-moz-color-swatch {
  border-color: transparent !important;
}

[hidden] {
  display: none !important;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

footer p {
  background: white;
  font-size: 0.8rem;
  color: #999;
}

footer a {
  font-size: 0.8rem;
  color: #999;
}

input[type="color"]::-webkit-color-swatch {
  border-color: transparent;
}

output {
  width: 40px;
  text-align: right;
  margin-left: 8px;
}

output:after {
  content: "%";
}

h1 {
  font-size: 26px;
}

img {
  /* transform-origin: 0 0; */
  margin: 0 auto;
  display: block;
  /* transform: scale(20); */
  width: 100px;
  height: 100px;
}

canvas {
  margin: 0 auto;
  display: block;
  width: 100px;
  height: 100px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

main > div {
  padding: 32px 0;
  overflow: scroll;
}

#result {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding-bottom: 0;
}

#result > div {
  margin-left: 16px;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input,
img {
  border-radius: 2px;
}

input[type="text"] {
  border: 1px solid #ccc;
  flex: 1;
  padding: 8px;
}

input[type="range"] {
  flex: 1;
}

input + input[type="color"] {
  cursor: pointer;
  border: 1px solid #ccc;
  display: block;
  background: black;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  position: absolute;
  right: 8px;
}

#result p {
  margin: 8px 0;
}

#input > div {
  position: relative;
  margin: 16px 0;
  display: flex;
  align-items: center;
}

#input label {
  min-width: 100px;
}
